<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{res['name']}} Menu</title>
</head>
<body>
{% if 'username' not in login_session %}
    <a href="{{url_for('user_login')}}">
        log in
    </a>
{% else %}
    <a href="{{url_for('gdisconnect')}}">
        log out
    </a>
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
    <li> <strong> {{ message }} </strong> </li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}


<h2>Restaurants List</h2>
    <ul>
        {% for it in menuitems %}
            <li>
                <label>{{it['name']}}</label>
                <br><br>
                    <label>{{it['course']}}</label>
                <br>
                    <label>{{it['description']}}</label>
                <br>
                    <label>{{it['price']}}</label>
                    <br>
                    {% if 'username' in login_session %}
                        <a href="{{url_for('edit_menuitem',restaurantID=res['id'], menuitemID=it['id'])}}" >
                            edit
                        </a>
                        <br>
                        <a href="{{url_for('delete_menuitem',restaurantID=res['id'], menuitemID=it['id'])}}" >
                            delete
                        </a>
                    {% endif %}
                    <br>
                <br>
            </li>
        {% endfor %}
    </ul>
    {% if 'username' in login_session %}
        <h4>Add New Item</h4>
        <a href="{{url_for('add_new_menuitem', restaurantID=res['id'])}}">Add</a>
    {% endif %}
    <br>
    <a href="{{url_for('show_restaurant')}}">Back</a>

</body>
</html>